{% extends 'base.html.twig' %}

{% block title %}Suggerer une formation{% endblock %}

{% block body %}

    <h1>Suggerer une formation</h1>

    {{ include('suggestions/_form.html.twig') }}

{% endblock %}
