{% extends 'base.html.twig' %}

    {% block body %}
        <header>
          <div class="view" style="background-image: url('https://www.cyberworx.in/images/services/website-startups.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask rgba-gradient align-items-center">
                <div class="row">
                  <div style="margin-left: 50%;" class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                    <h1 class="h1-responsive font-weight-bold mt-sm-5">GoFormations </h1>
                    <hr class="hr-light">
                    <h5 class="mb-4" style="color:white;">Votre platforme d'apprentissage 100% enligne. Inscrivez-vous pour découvrir les différentes formations proposées et bénéficier d'une expérience de e-learning enrichissante! Si vous êtes déjà inscrits veuillez vous connectez.</h5>
                    <a href="/login" style="color:rgb(100, 212, 231);" class="btn btn-white"><b>Se connecter</b></a>
                    <a href="/register" style="color:rgb(100, 212, 231);" class="btn btn-white"><b>S'inscrire</b></a>
                    <a href="/suggestions/new2" style="color:rgb(100, 212, 231);" class="btn btn-outline-white"><b>Proposez des formations de vos choix</b></a>
                  </div>
                  <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
   {% endblock %}
